target/

build/

.gradle

datanucleus.log

.DS_Store

out

*.iml

*.ipr

*.iws

.idea

.settings

.classpath

.project

*~

geotown.server-war/src/main/java/de/happycarl/geotown/server/Constants.java

