<div class="modal-header">
    <h3 class="modal-title">Create a Waypoint.</h3>
</div>
<div class="modal-body">
    <div cg-busy="creationPromise"></div>
    <form role="form">
        <div class="form-group">
            <label for="question">Question</label>
            <input type="text" class="form-control" id="question" ng-model="data.question" placeholder="Question" />
        </div>
        <div class="form-group">
            <label for="google_places_ac">Location</label>
            <google-places location="data" class="form-control" type="">
            </google-places>
        </div>
    </form>
    <google-map refresh="map.refresh" draggable="true" center="data" zoom="map.zoom"  options="map.options">
        <marker coords="data"></marker>
    </google-map>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Create</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>