<div class="modal-header">
    <h3 class="modal-title">Create a Route.</h3>
</div>
<div class="modal-body">
    <div cg-busy="creationPromise"></div>
    <input type="text" ng-model="data.name" placeholder="Name" /><br />
    <input type="text" ng-model="data.latitude" placeholder="lat" /><br />
    <input type="text" ng-model="data.longitude" placeholder="lng" /><br />
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Create</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>