<div class="panel panel-primary">
    <div class="panel-heading" ng-show="route != null">
        <h3 class="panel-title">
            {{route.name}}
            <a class="btn btn-danger pull-right btn-xs" ng-click="deleteRoute(route)"><span class="glyphicon glyphicon-trash"></span></a>
        </h3>
    </div>
    <div class="panel-body">
        <div ng-show="route == null">
            Please select one of your routes on the left. If you don't have one, create one!
        </div>
        <div ng-if="route != null">
            <div class="row">
                <div class="col-md-8">
                    <google-map draggable="true" center="map.center" zoom="map.zoom">
                        <marker ng-repeat="w in waypoints" coords="w" click="onMarkerClicked(w)">
                            <window show="m.showWindow" closeClick="closeClick()" ng-cloak>
                                <div>
                                    <strong>Waypoint.</strong><br />
                                    {{w.question}}
                                </div>
                            </window>
                        </marker>
                    </google-map>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Waypoints
                                <div class="pull-right">
                                    <a ng-click="showCreateWaypointModal()" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-plus-sign"></span></a>
                                </div>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li ng-class="{active: selectedWaypoint == w}" ng-repeat="w in waypoints"><a ng-click="selectWaypoint(w)">{{w.question}}</a></li>
                            </ul>
                        </div>
                        <div class="panel-footer" ng-show="selectedWaypoint != null && !selectedWaypoint.loading">
                            <a ng-click="deleteWaypoint(selectedWaypoint)" class="btn btn-danger">Delete Waypoint</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
 </div>